!! drop in Solarized colorscheme for Xresources/Xdefaults

!!SOLARIZED HEX     16/8 TERMCOL  XTERM/HEX   L*A*B      RGB         HSB
!!--------- ------- ---- -------  ----------- ---------- ----------- -----------
!!base03    #002b36  8/4 brblack  234 #1c1c1c 15 -12 -12   0  43  54 193 100  21
!!base02    #073642  0/4 black    235 #262626 20 -12 -12   7  54  66 192  90  26
!!base01    #586e75 10/7 brgreen  240 #585858 45 -07 -07  88 110 117 194  25  46
!!base00    #657b83 11/7 bryellow 241 #626262 50 -07 -07 101 123 131 195  23  51
!!base0     #839496 12/6 brblue   244 #808080 60 -06 -03 131 148 150 186  13  59
!!base1     #93a1a1 14/4 brcyan   245 #8a8a8a 65 -05 -02 147 161 161 180   9  63
!!base2     #eee8d5  7/7 white    254 #e4e4e4 92 -00  10 238 232 213  44  11  93
!!base3     #fdf6e3 15/7 brwhite  230 #ffffd7 97  00  10 253 246 227  44  10  99
!!yellow    #b58900  3/3 yellow   136 #af8700 60  10  65 181 137   0  45 100  71
!!orange    #cb4b16  9/3 brred    166 #d75f00 50  50  55 203  75  22  18  89  80
!!red       #dc322f  1/1 red      160 #d70000 50  65  45 220  50  47   1  79  86
!!magenta   #d33682  5/5 magenta  125 #af005f 50  65 -05 211  54 130 331  74  83
!!violet    #6c71c4 13/5 brmagenta 61 #5f5faf 50  15 -45 108 113 196 237  45  77
!!blue      #268bd2  4/4 blue      33 #0087ff 55 -10 -45  38 139 210 205  82  82
!!cyan      #2aa198  6/6 cyan      37 #00afaf 60 -35 -05  42 161 152 175  74  63
!!green     #859900  2/2 green     64 #5f8700 60 -20  65 133 153   0  68 100  60

#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3
#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

!!*.background:            S_base03
*.foreground:            S_base00
*.fading:                40
*.fadeColor:             S_base03
*.cursorColor:           S_base1
*.pointerColorBackground:S_base01
*.pointerColorForeground:S_base1

!! black dark/light
*.color0:                S_base02
*.color8:                S_base03

!! red dark/light
*.color1:                S_red
*.color9:                S_orange

!! green dark/light
*.color2:                S_green
*.color10:               S_base01

!! yellow dark/light
*.color3:                S_yellow
*.color11:               S_base00

!! blue dark/light
*.color4:                S_blue
*.color12:               S_base0

!! magenta dark/light
*.color5:                S_magenta
*.color13:               S_violet

!! cyan dark/light
*.color6:                S_cyan
*.color14:               S_base1

!! white dark/light
*.color7:                S_base2
*.color15:               S_base3

!! System colors
!!black
!!*.color0:  #000000
!!darkgray
!!*.color1:  #7c6f64
!!darkorange
!!*.color2:  #d65d0e
!!orange
!!*.color3:  #fe8019
!!darkblue
!!*.color4:  #458588
!!green
!!*.color5:  #b8bb26
!!magenta (deviating for vifm)
!*.color6:  #d3869b
!!*.color6:  #689d6a
!!darkmagenta (deviating for vifm) outside
!*.color7:  #b16286
!!*.color7:  #928374
!!yellow
!!*.color8:  #fabd2f
!!darkyellow
!!*.color9:  #d79921
!!darkgreen
!!*.color10: #98971a
!!blue
!!*.color11: #83a598
!!darkaqua
!!*.color12: #689d6a
!!red
!!*.color13: #fb4934
!!gray
!!*.color14: #928374
!!white (almost)
!!*.color15: #bdae93
!! Other colors
!!*.foreground: #bdae93
!!*.foreground_bold: #928374
!!*.cursor: #fb4934
!*.color1: #cc241d

!! Transparency (0-255)
!!*.alpha: 230
!! Set default font and size
!*.font: xft:Fira Code:pixelsize=14, xft:Emojione:pixelsize=14

!*.font: xft:Fira Code:pixelsize=14
*.font: xft:Fira Mono:size=12


!! URxvt settings
!!!URxvt.cursorColor: magenta
!!URxvt.cursorColor: #fe8019
!!URxvt.background: [80]#000000
!!URxvt.background: [80]S_base03
URxvt.background: S_base03
URxvt.depth: 32
URxvt.intensityStyles: false
URxvt.scrollBar: false
!!URxvt.font: xft:Fira Code:pixelsize=14

!! only jump to bottom on keypress
URxvt*scrollTtyOutput: false
URxvt*xcrollTtyKeypress: true

!! disable all bells
URxvt*visualBell: false

!! dont scroll terminal in programs
URxvt*scrollWithBuffer: true
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
URxvt.secondaryWheel: 1

!! allow Shift-Space bindings
URxvt.keysym.S-space: \033[32;2u

!! extensions
URxvt.perl-ext-common:  default,clipboard,url-select,keyboard-select

URxvt.url-select.launcher:  /usr/bin/xdg-open
URxvt.url-select.underline:  true
URxvt.keysym.M-u:  perl:url-select:select_next
URxvt.keysym.M-Escape:  perl:keyboard-select:activate
URxvt.keysym.M-s:  perl:keyboard-select:search
